BasedOnStyle: Microsoft

Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 120

BreakBeforeBraces: Allman

PointerAlignment: Left
ReferenceAlignment: Left

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

BinPackArguments: false
BinPackParameters: false

AlignAfterOpenBracket: Align

SortIncludes: true
IncludeBlocks: Regroup

IncludeCategories:
  - Regex: '^"pch\.h"$'
    Priority: -1

  - Regex: '^".*"$'
    Priority: 1

  - Regex: '^<.*>$'
    Priority: 2

NamespaceIndentation: All

StatementMacros:
  - TEST_METHOD
  - TEST_METHOD_INITIALIZE
  - TEST_METHOD_CLEANUP
  - TEST_CLASS_INITIALIZE
  - TEST_CLASS_CLEANUP

SpacesBeforeTrailingComments: 2

DerivePointerAlignment: false
